<div class="container">
  <div class="row">
    <div class="col">
      <h1>My user app</h1>
      <input class="form-control mt-2" type="text" [(ngModel)]="name" placeholder="Please enter name">
      <input class="form-control mt-2" type="text" [(ngModel)]="email" placeholder="E-mail adress">
      <input class="form-control mt-2" type="text" [(ngModel)]="age" placeholder="age">

      <button (click)="addUsers()" class="btn btn-primary mt-2 me-2">Submit</button>
      <button (click)="transformToUpperCase()" class="btn btn-danger mt-2 me-2">UPPERCASE</button>
      <button (click)="transformToLowerCase()" class="btn btn-danger mt-2 me-2">LOWERCASE</button>
      <button (click)="showUsers()" class="btn btn-warning mt-2 me-2">USERS</button>
      <button (click)="showEmails()" class="btn btn-warning mt-2 me-2">EMAILS</button>
      <div class="alert alert-primary mt-2" role="alert">
        <b>Current input: </b>{{name}} - {{email}} - {{age}}
      </div>
    </div>
  </div>

  <div class="row users">
    <div class="col">
      <div *ngFor="let user of users" class="">
        {{user.name}} - {{user.email}} - {{user.age}}
      </div>
    </div>
  </div>

  <div *ngIf="showDataUsers.length !=0" class="row users">
    <div class="col">
      <h2>User names</h2>
      <div *ngFor="let showDataUser of showDataUsers" class="">
        {{showDataUser}}
      </div>
    </div>
    <div class="col">
      <h2>User emails</h2>
      <div *ngFor="let showDataEmail of showDataEmails" class="">
        {{showDataEmail}}
      </div>
    </div>
  </div>
  <div *ngIf="showDataUsers.length ==0 " class="row users">No records selected in user/email view</div>
</div>

<app-my-chart></app-my-chart>

<div style="text-align:center">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [title]="chartOptions.title"
    [colors]="chartOptions.colors"
  ></apx-chart>

  <app-client></app-client>
</div>