<div class="container">
  <div class="row">
    <div class="col">
      <h1>My user app</h1>
      <input class="form-control mt-2" type="text" [(ngModel)]="name" placeholder="Please enter name">
      <input class="form-control mt-2" type="text" [(ngModel)]="email" placeholder="E-mail adress">
      <button (click)="addUsers()" class="btn btn-primary mt-2 me-2">Submit</button>
      <button (click)="transformToUpperCase()" class="btn btn-danger mt-2 me-2">UPPERCASE</button>
      <button (click)="transformToLowerCase()" class="btn btn-danger mt-2 me-2">LOWERCASE</button>
      <div class="alert alert-primary mt-2" role="alert">
        <b>Current input: </b>{{name}} - {{email}}
      </div>
    </div>
  </div>

  <div class="row users">
    <div class="col">
      <div *ngFor="let user of users" class="">
        {{user.name}} - {{user.email}}
      </div>
    </div>
  </div>
</div>